<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="angular.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body ng-app="liveQuotesPortfolio" ng-controller="bodyCtrl" ng-csp>
		<input type="text" ng-model="symbol" ng-keypress="addSymbol($event)">
		<div id="container">
			<table>
				
				<thead>
					<tr>
						<th>Ex:Symbol</th>
						<th>Price</th>
						<th>Change</th>
						<th>%Change</th>
						<th>Target</th>
						<th>Stoploss</th>						
						<th>Shares</th>
						<th>Cost</th>
						<th>Investment</th>
						<th>Value</th>
						<th>ROI</th>
						<th>%ROI</th>
					</tr>
				</thead>
					
				<tbody>
					<tr ng-repeat="ele in list track by (ele.id)">
						<td>{{ele.e + ":" + ele.t | uppercase}}</td>
						<td>{{ele.l}}</td>
						<td>{{ele.c}}</td>
						<td>{{ele.cp}}</td>
						<td class="input"><input type="text" ng-model="target[ele.id]"></td>
						<td class="input"><input type="text" ng-model="stoploss[ele.id]"></td>
						<td class="input"><input type="text" ng-model="shares[ele.id]"></td>
						<td class="input"><input type="text" ng-model="cost[ele.id]"></td>
						<td>{{investment(ele)}}</td>
						<td>{{value(ele)}}</td>
						<td>{{ROI(ele)}}</td>
						<td>{{percentROI(ele)}}</td>
						<td class="close" ng-click="delRow(ele)">&nbsp;-&nbsp;</td>
					</tr>
				</tbody>

				<tfoot>
				</tfoot>
			</table>
		</div>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="main.js"></script>
	</body>
</html>