body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 12px;
}

div#main>span {
	margin: 5px;
	vertical-align: -webkit-baseline-middle;
	font-size: 14px;
}

table {
	margin: 0;
	border-collapse: collapse;
}

tbody td, tfoot td {
	border: 1px solid #E3E3E3;
	text-align: right;
	padding-right: 2px;
	padding-left: 2px;
	font-size: 12px;
}

.input {
	width: 45px;
}

thead th {
	border: 1px solid #E3E3E3;
	color: black;
	font-weight: bold;
	padding-right: 2px;
	padding-left: 2px;
	min-width: 40px;
}

tbody tr:nth-child(odd){
	background-color: whitesmoke;/*#E7EDF0;*/
}

td:first-child , th:first-child {
	padding-left: 1px;
	padding-right: 2px;
	text-align: left;
}

tbody td.close {
	text-align: center;
	padding: 0;
	cursor: pointer;
	color: #5B86B1;
	font-weight: bold;
	background-color: white;
	border: 0px none;
	padding-top:1px;
}
/*
table tr:hover {
	background-color: #D0E2EA;
}
*/

tbody td.close:hover {
	background-color: #D0E2EA;
	border: 1px solid #E3E3E3;
}

tfoot tr {
	font-weight: bold;
	border-bottom-color: lightgrey;
	border-bottom-style: double;
}

thead span {
	margin: 0px;
	font-size: 12px;
}

.red {
	color: red;
}

.green {
	color: green;
}

/*input box starts here*/

#input {
	float: right;
	margin: 2px 14px 4px 0;
	height: 19px;
}
#input #boxes {
	height: 13px;
	float: left;
	margin: 0 4px 0 0;
	font-size: 11px;
}

#boxes div {
	margin: 0;
	display: inline;
}

#boxes div:nth-child(2) {
	padding-right: 8px;
	border-right: 1px solid lightgrey; 
}

#boxes div:nth-child(3) {
	padding-left: 8px;
	border-left: 1px solid lightgrey; 
}

#from, #to {
	height: 13px;
	width: 32px;
} 

#interval {
	height: 13px;
	width: 50px;
}

#input #buttons {
	float: right;
	margin: 4px;
}

#buttons a:nth-child(1) {
	margin-right: 4px;
}
